/* Why Us Section */
.why_us {
    background: var(--light-gray-color);
    padding: 60px 20px 120px;
}
.why_us .why_container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}
.why_container .why_items img {
    width: 30%;
    margin-bottom: 10px;
}
.why_container .why_items {
    width: calc(100% / 3 - 80px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.why_items .why_us_text {
    text-align: center;
}
.why_items .why_us_text h3 {
    margin: 20px 0;
    font-size: 22px;
}
.why_items .why_us_text p {
    font-size: 17px;
}