/* Footer Section */
footer {
    background: #1b1b1b;
    color: var(--white-color);
    padding: 60px 20px;
}
.footer_section {
    display: flex;
    justify-content: space-around;
}
.footer_section h3 {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 600;
}
.footer_section .footer_logo a {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--white-color);
}
.footer_section .footer_logo a img {
    max-width: 55px;
}
.footer_section .footer_logo a h2 {
    font-weight: 600;
}
.footer_section .useful_links ul li {
    margin: 20px 0;
}
.footer_section .useful_links ul li a {
    color: var(--white-color);
    font-size: 17px;
}
.footer_section .useful_links ul li a:hover {
    text-decoration: underline;
}
.footer_section .contact_us ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_section .contact_us ul li i {
    font-size: 25px;
}
.footer_section .contact_us ul li span {
    font-size: 17px;
}
.footer_section .follow_us i {
    /* display: flex; */
    font-size: 26px;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer_section .follow_us i:hover {
    color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.section_container {
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.picons{
    display: flex;
}


/* Responsive Media Query code for max-width: 1024px */
@media screen and (max-width: 1024px) {
    .footer_section {
        flex-direction: column;
        gap: 24px;
    }
    .footer_section .useful_links {
        text-align: start;
    }
}